In [366]:
# Importando biblioteca
import pandas as pd
import pandas_datareader as web
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import yfinance as yf

In [367]:
# Conexão com os dados do Yahoo Finance
data = web.get_data_yahoo('BRL=X')

In [368]:
# Exibir as 5 primeiras linhas
data.head(5)

              High     Low    Open   Close  Volume  Adj Close
Date
2016-11-30  3.4540  3.3786  3.4538  3.4538     0.0     3.4538
2016-12-01  3.4764  3.3822  3.4042  3.4063     0.0     3.4063
2016-12-02  3.5773  3.4435  3.5763  3.5730     0.0     3.5730
2016-12-05  3.5043  3.4419  3.4747  3.4747     0.0     3.4747
2016-12-06  3.4614  3.4167  3.4201  3.4200     0.0     3.4200

In [369]:
# Criar um novo dataframe apenas com as colunas necessárias para treinar o modelo
features = ['Open', 'High', 'Low']
treino = data[features]
treino.reset_index()

# Criar um novo dataframe com os valores de fechmaneto real
y = data['Close']

In [370]:
# Divisão dos dados entre treino/teste
X_treino, X_teste, y_treino, y_teste = train_test_split(treino, y, random_state=42)

In [371]:
# Criar o modelo
lr_model = LinearRegression()
lr_model.fit(X_treino, y_treino)

# Predizer valores
predicao = lr_model.predict(X_teste)[:10]

In [372]:
# Criar duas listas para armazenar o valor Real x Predito
lista_real = []
lista_predicao = []
for i in data['Close'][:10]:
    i = round(i, 2)
    lista_real.append(i)
for i in predicao:
    i = round(i, 2)
    lista_predicao.append(i)

In [373]:
# Criar um dicionário com os valores
dict_regressao = {
    
    'Real':lista_real,
    'Predito':lista_predicao
    
}

In [374]:
# Criar um dataframe novo para comparar os preços
df = pd.DataFrame(dict_regressao, columns=['Real', 'Predito'])

# Criar uma coluna com a difereça do preço Real x Predito
df['Erro'] = df['Real'] - df['Predito']

In [375]:
df

   Real  Predito  Erro
0  3.45     3.93 -0.48
1  3.41     4.04 -0.63
2  3.57     3.30  0.27
3  3.47     4.72 -1.25
4  3.42     5.64 -2.22
5  3.41     3.19  0.22
6  3.38     4.19 -0.81
7  3.37     4.08 -0.71
8  3.38     5.57 -2.19
9  3.34     3.15  0.19